/* .app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 10px;
  border: 1px solid #ccc; /* İsteğe bağlı */
  padding: 10px; /* İsteğe bağlı */
}

.movie-card img {
  max-width: 200px; /* İsteğe bağlı */
} */

/* src/App.module.css */
:root {
  --navbar-background: #fff;
  --navbar-color: #000;
  --button-background: #4CAF50;
  --button-color: #fff;
  --button-hover-background: #45a049;
  --background: #fff;
  --color: #000;
}

body.dark {
  --navbar-background: #222;
  --navbar-color: #fff;
  --button-background: #333;
  --button-color: #fff;
  --button-hover-background: #444;
  --background: #121212;
  --color: #fff;
}

body.light {
  --navbar-background: #fff;
  --navbar-color: #000;
  --button-background: #4CAF50;
  --button-color: #fff;
  --button-hover-background: #45a049;
  --background: #fff;
  --color: #000;
}

.app {
  background-color: var(--background);
  color: var(--color);
  min-height: 100vh;
}
