.contact {
    text-align: center;
    padding: 30px;
    color: white;
    background-color: #121212;
    height: calc(100vh - 120px);
}

.contact h2 {
    margin-top: 20px;
    font-size: 2rem;
    
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    gap: 15px;
}

.contact input,
.contact textarea {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.contact textarea {
    height: 100px;
}

.contact button {
    background-color: #ff2600;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.contact button:hover {
    background-color: #e6b800;
}
