/* src/pages/MovieDetailsPage.module.css */
.movieDetails {
    text-align: center;
    padding: 20px;
}

.poster {
    width: 300px;
    height: auto;
    margin: 20px 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
}
