.filters {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.filters select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #333;
    color: white;
    border: 1px solid #ffcc00;
    transition: all 0.3s ease;
}

.filters select:hover {
    background-color: #ffcc00;
    color: black;
}
