.searchResults {
    background-color: #000000;
    color: white;
    min-height: 90vh; 
    padding: 20px;
    text-align: center;
}

.searchResults h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffcc00; /* Başlıq üçün vurğulayıcı sarı rəng */
}

.movieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    background-color: black;
}

.movieList p {
    font-size: 1.2rem;
    color: #888;
}

.movieList .card {
    background-color: #1a1a2e;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movieList .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.movieList .card img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #ffcc00;
}

.movieList .card h3 {
    font-size: 1.2rem;
    margin: 10px;
    color: #ffcc00;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
}

.movieList .card h3:hover {
    color: #ffffff;
}

.movieList .noResults {
    font-size: 1.5rem;
    color: #888;
    margin-top: 50px;
}
