.movieCard {
    background-color: #222;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.movieCard img {
    width: 100%;
    border-radius: 10px;
}

.movieCard h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.movieCard p {
    font-size: 0.9rem;
    color: #ccc;
}

.movieCard:hover {
    transform: scale(1.05);
}
